* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #ececec;
}

.messages,
.message-box,
.users-list {
    border: 1px solid #aaa;
}


.messages {
    height: 500px;
    overflow-y: scroll;
}

.users-list {
    height: 100%;
    width: 200px;
}

.room {
    position: relative;
}

.message-container {
    position: absolute;
    bottom: 0;
}